/* fuentes */
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');


/* mobile*/

    body{
        display: flex;
        flex-direction: column;         
        font-size: 24px;
        background-color: gray;
       
        font-family: 'Space Mono', monospace;
        font-weight: 500;

    }

    main{
        
        display: flex;
        align-items: center;
        width: 40%;
        height: 30vh;
    }

    section{
        display: flex;
        flex-direction: column;
    }
    h1{
        font-size: 65px;
        font-weight: bold;
    }

    p{
        font-size: 30px;
        color: #333333;

    }

    .btn{
        padding: 20px;
        width: 30%;
        background-color: #333333;
        color: white;

    }



  
  /* Desktop*/
@media (min-width: 375px) {

    body{
        flex-direction: row;
        font-size: 18px;
        background-color: white;
        
    }
    main{
        display: flex;
        align-items: center;
    }

    section{
        display: flex;
        flex-direction: column;
    }
    h1{
        font-size: 65px;
        font-weight: bold;
    }

    p{
        font-size: 30px;
        color: #333333;

    }

    img{
  object-fit: cover;
  width:100%;
  height:100%;
}

   
}



 

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }